body{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #232323;
}
a{
    text-decoration: none;
    color: white;
    font-family: system-ui;
    font-size: 50px;
    padding: 20px;
    border: 2px solid red;
    border-radius: 30px;

}
a:hover{
    background-color: black;
    transition: .4s ease;
}

.Ninja_Music{

    color: rgb(255, 255, 255);
    font-size: 20px;

}
.CREADA{

    color: rgb(255, 255, 255);
    font-size: 20px;
}
.CANAL{
    
    color: white;
    font-size: 20px;
}